.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(87, 90, 141, 0.651);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
